@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add Nunito Sans font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

html,
body {
    overflow-x: hidden;
    background-color: #040417;
    color: #f9f9f9;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
}

/* Responsive Fonts */
@media only screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 15px;
    }
}

@media only screen and (max-width: 479px) {
    body {
        font-size: 14px;
    }
}